<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parameters test Suite" >

	<test thread-count="5" name="Parameters Test">
	<parameter name="url" value="https://www.facebook.com/"/>
    <parameter name="email" value="sush.rinwa@gmail.com"/> 
    <parameter name="password" value="sushila231082"/> 
		<classes>

			<class name="com.parameters.ParametersTest11" />




		</classes>
	</test>

</suite>
